/* Enter your custom styles here */

.card-item-header {
  display: flex;
  flex-direction: row;
  place-content: center;
}

.imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageAdjust {
  width: 100%;
  height: 100%;
  object-fit: contain;  /* Opciones: contain | cover | fill | none | scale-down */
}

.carousel-indicator {
  margin: 0 4px;  /* Espaciado entre los círculos */
  transition: color 0.3s ease-in-out;  /* Transición suave al cambiar de página */
  cursor: pointer; /* Opcional: Cambia el cursor si quieres que se puedan hacer clic */
}

.subcategoryBox {
  padding: 1rem;
  margin: 0.5rem;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.subcategoryBox:hover {
  transform: scale(1.03);
}

.mySticky {
  position: sticky;
  top: 0;
  z-index: 100; 
}

.stickyTop {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Celular: sticky abajo */
.stickyBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 100;
}

.fullWidthPanel {
  width: 100% !important;
}

/* Para vista en fila (desktop) */
.leftPanel {
  width: 70% !important; /* o 70% si querés más espacio */
}

.rightPanel {
  width: 30% !important;
}

.relativeParent {
  position: relative;
}

.productBuyBox {
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 1rem;
  margin: 1rem;
}

.myGridItemFixedHeight {
  height: 25rem; /* o el valor que quieras */
}

.myCarouselItemWidth {
  height: 15rem; /* o el valor que quieras */
}



.categoryPopover .sapMNav {
  height: auto !important;
}

.categoryPopover .popoverPage {
  height: auto !important;
  min-height: 1px;
}

.categoryPopover .sapMScrollCont {
  max-height: 400px;
  overflow-y: auto;
}